<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Example</title>
    <style>
        #questions {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	border-collapse: collapse;
	width: 100%;
	}
	#questions td, #questions th {
	border: 1px solid #ddd;
	padding: 8px;
	}
	#questions tr:nth-child(even){background-color: #5dfde2;}
	#questions tr:hover {background-color: #ddd;}
	#questions th {
	padding-top: 12px;
	padding-bottom: 12px;
	text-align: center;
	background-color: #5dfde2;
	color: white;
	}
    </style>

  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" href="#">
          <img src="{{ url_for('static', filename='corporation.png') }}" width="50" alt="">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="index">Home
                <span class="sr-only">(current)</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="container">

    {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul class=flashes>
	{% for message in messages %}
        <li>{{ message }}</li>
	{% endfor %}
        </ul>
        {% endif %}
    {% endwith %}

    {% block content %}{% endblock %}

    </div>
  </body>
</html>
